In [4]:
import pandas as pd
import numpy as np

In [5]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

## Import Dataset

In [6]:
## importing datasets

#master data of user
users = pd.read_csv('/Users/achmadrozie/Downloads/BX-Users.csv',sep=";",error_bad_lines=False, encoding='latin-1')
#master data of book
books = pd.read_csv('/Users/achmadrozie/Downloads/BX-Books.csv',sep=";",error_bad_lines=False, encoding='latin-1')
#similiar with data orders, transactional data
rating = pd.read_csv('/Users/achmadrozie/Downloads/BX-Book-Ratings.csv',sep=";",error_bad_lines=False, encoding='latin-1')

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/Users/achmadrozie/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
books.tail()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

### Column Tuning - Books

In [8]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [9]:
#column selection - books
books=books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher']]

#feature engineering : changing the column names
books.rename(columns=
             {'Book-Title':'title',
              'Book-Author':'author',
              'Year-Of-Publication':'year',
              'Publisher':'publisher'},
             inplace=True)

In [10]:
books.tail()

,ISBN,title,author,year,publisher
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm)
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages

### Column Tuning - Users

In [11]:
#column check
users.columns

#column replacement 
users.rename(columns={'User-ID':'user_id',
                      'Location':'location',
                      'Age':'age'},inplace=True) 
#fillna
users['age'] = users['age'].fillna(0)

In [12]:
users.head()

   user_id                            location   age
0        1                  nyc, new york, usa   0.0
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   0.0
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   0.0

### Column Tuning - Rating

In [13]:
rating.columns

Index(['User-ID', 'ISBN', 'Book-Rating'], dtype='object')

In [14]:
rating.rename(columns={'User-ID':'user_id',
                       'Book-Rating':'rating'},
             inplace=True)
rating.head()

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [15]:
#check shape - books
books.shape

(271360, 5)

In [16]:
#check shape - users
users.shape

(278858, 3)

In [92]:
#check shape - ratings
rating.shape

(1149780, 3)

In [20]:
#unique user that submit rating
rating['user_id'].value_counts().shape

(105283,)

In [169]:
## considering those users who have viewed more than 100 books
x=rating['user_id'].value_counts()>200

In [170]:
rating['user_id'].value_counts().head()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
Name: user_id, dtype: int64

In [171]:
#just put who the value is true
x[x].shape

(899,)

In [172]:
#take the index
y=x[x].index

### -- isin function--

 e.g.
 df[column1].isin['Female'] -> filter value in column1 that only consist 'Female' value

 df[column1].isin(y) -> filter value in column 1 that only available in y

add ~ to negate/counter is in e.g. df[~df['column_a'].isin(y)]

In [173]:
 #extra squrebracket column1 [column1 ...] -> to make data as data frame
rating=rating[rating['user_id'].isin(y)]

In [174]:
rating.shape

(526356, 3)

## Merge Rating with Books

In [175]:
rating_with_books = pd.merge(rating,books,on='ISBN') 
##those users who have viewed more than 200 books with there rating on books

In [176]:
rating_with_books.tail()

,user_id,ISBN,rating,title,author,year,publisher
487666,275970,1892145022,0,Here Is New York,E. B. White,1999,Little Bookroom
487667,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA)
487668,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim"
487669,275970,3829021860,0,The Penis Book,Joseph Cohen,1999,Konemann
487670,275970,4770019572,0,Musashi,Eiji Yoshikawa,1995,Kodansha International (JPN)

In [177]:
rating_with_books.shape

(487671, 7)

## Merge Rating -Books with Users

In [185]:
rating_full=pd.merge(rating_with_books, users, on="user_id")

In [186]:
rating_full

,user_id,ISBN,rating,title,author,year,publisher,location,age
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,"gilbert, arizona, usa",48.0
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,"gilbert, arizona, usa",48.0
2,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,"gilbert, arizona, usa",48.0
3,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt &amp; Co,"gilbert, arizona, usa",48.0
4,277427,0060002050,0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002,Avon Books,"gilbert, arizona, usa",48.0
...,...,...,...,...,...,...,...,...,...
487666,254498,8876869549,0,Pimpa in cielo e in mare (Le Lune magiche),Altan,1998,F. Panini,"cuneo, piemonte, italy",0.0
487667,254498,8877827025,0,Harry Potter E la Pietra Filosfale,J. K. Rowling,2002,Distribooks,"cuneo, piemonte, italy",0.0
487668,254498,8877827033,5,Harry Potter E la Camera Dei Segreti,J. K. Rowling,2002,Distribooks,"cuneo, piemonte, italy",0.0
487669,254498,8877829532,0,Una Funesta Finestra,Lemony Snicket,2002,Distribooks Inc,"cuneo, piemonte, italy",0.0
487670,254498,888274387X,0,Vaniglia E Cioccolato,Modignani Casati,0,Sperling Paperback,"cuneo, piemonte, italy",0.0

In [187]:
number_rating = rating_with_books.groupby('title')['rating'].count().reset_index() 
## count amount of rating of a book 
## group by title
## only appear column : rating

In [188]:
number_rating

                                                    title  rating
0        A Light in the Storm: The Civil War Diary of ...       2
1                                   Always Have Popsicles       1
2                    Apple Magic (The Collector's series)       1
3        Beyond IBM: Leadership Marketing and Finance ...       1
4        Clifford Visita El Hospital (Clifford El Gran...       1
...                                                   ...     ...
160264  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...       3
160265                                      Ã?Â?lpiraten.       1
160266                     Ã?Â?rger mit Produkt X. Roman.       1
160267                              Ã?Â?stlich der Berge.       1
160268                                  Ã?Â?thique en toc       1

[160269 rows x 2 columns]

In [189]:
number_rating.rename(columns={'rating':'number of rating'},
                     inplace=True) 
#feature engineering : changing the column names

In [190]:
final_rating=pd.merge(rating_full,
                      number_rating,
                      on='title')
display(final_rating)

,user_id,ISBN,rating,title,author,year,publisher,location,age,number of rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,"gilbert, arizona, usa",48.0,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,"knoxville, tennessee, usa",29.0,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,"n/a, n/a, n/a",0.0,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,"byron, minnesota, usa",18.0,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,"cordova, tennessee, usa",32.0,82
...,...,...,...,...,...,...,...,...,...,...
487666,254498,8876869549,0,Pimpa in cielo e in mare (Le Lune magiche),Altan,1998,F. Panini,"cuneo, piemonte, italy",0.0,1
487667,254498,8877827025,0,Harry Potter E la Pietra Filosfale,J. K. Rowling,2002,Distribooks,"cuneo, piemonte, italy",0.0,1
487668,254498,8877827033,5,Harry Potter E la Camera Dei Segreti,J. K. Rowling,2002,Distribooks,"cuneo, piemonte, italy",0.0,1
487669,254498,8877829532,0,Una Funesta Finestra,Lemony Snicket,2002,Distribooks Inc,"cuneo, piemonte, italy",0.0,1
487670,254498,888274387X,0,Vaniglia E Cioccolato,Modignani Casati,0,Sperling Paperback,"cuneo, piemonte, italy",0.0,1

In [184]:
display(final_rating.shape)

(487671, 10)

In [196]:
final_rating=final_rating[final_rating['number of rating']>=50]
## considering those books which has got more than 50 ratings

## Drop Duplicate in Final Table

In [197]:
final_rating.drop_duplicates(['title','user_id'],inplace=True)
## droping the same record

<ipython-input-197-c64e0cc1b07b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_rating.drop_duplicates(['title','user_id'],inplace=True)

In [199]:
final_rating.shape

(59850, 10)

In [200]:
final_rating

,user_id,ISBN,rating,title,author,year,publisher,location,age,number of rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,"gilbert, arizona, usa",48.0,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,"knoxville, tennessee, usa",29.0,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,"n/a, n/a, n/a",0.0,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,"byron, minnesota, usa",18.0,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,"cordova, tennessee, usa",32.0,82
...,...,...,...,...,...,...,...,...,...,...
307143,69042,0770427758,0,Drums of Autumn,Diana Gabaldon,1997,Seal Press (WA),"drayton valley, alberta, canada",55.0,53
307144,198699,044022425X,0,Drums of Autumn,DIANA GABALDON,1997,Dell,"dow city, iowa, usa",49.0,53
307145,190708,044022425X,0,Drums of Autumn,DIANA GABALDON,1997,Dell,"ramona, california, usa",43.0,53
307146,168245,0385335989,10,Drums of Autumn,DIANA GABALDON,2001,Delta,"delisle, saskatchewan, canada",37.0,53
307147,77940,044022425X,0,Drums of Autumn,DIANA GABALDON,1997,Dell,"melaka, melaka, malaysia",0.0,53

In [201]:
book_pivot = final_rating.pivot_table( ## pivot table
    columns='user_id', ##columns
    index='title',
    values='rating')

In [208]:
#fillna
book_pivot.fillna(0,inplace=True)

## Sparse Matrix

In [209]:
from scipy.sparse import csr_matrix
book_sparse=csr_matrix(book_pivot)

In [210]:
type(book_sparse)

scipy.sparse.csr.csr_matrix

In [211]:
#SK Learn
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(algorithm='brute') ## model

In [212]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [213]:
book_pivot.iloc[237,:].values.reshape(1,-1)

array([[ 9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,
         8.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         9.,  0.,  0.,  0., 10.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  7.,  9.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  9.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0., 10., 10.,  0.,  0.,  7.,  0.,
         0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  8.,  0.,  0.,
         0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  9.,  0.,
         0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  8.,  0.,  0., 10.,  0.,  0.,  0.,  7.,
        10.,  0., 10.,  0., 10.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        10.,  9.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  5.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  5.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,
         0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  5.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         8.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  8.,  0.,  0.,  0.,  0.,
         0.,  0.,  0., 10.,  7.,  0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  8., 10.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0., 10.,
         0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  7.,  0.,  0.,  0.,  0.,
         0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  9.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  9.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  7.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  9.,
         0.,  0.,  0.,  0.]])

In [214]:
distances,suggestions=model.kneighbors(book_pivot.iloc[54,:].values.reshape(1,-1))

In [215]:
distances

array([[ 0.        , 42.34383072, 43.48562981, 43.50861984, 43.56604182]])

In [216]:
suggestions

array([[ 54, 184, 291, 440, 393]])

In [225]:
len(suggestions)

1

In [219]:
#print recommendation
for i in range(len(suggestions)):
    print(book_pivot.index[suggestions[i]])

Index(['Animal Farm', 'Exclusive', 'Jacob Have I Loved', 'Second Nature',
       'Pleading Guilty'],
      dtype='object', name='title')

## Develop the Recommendation System

In [229]:
def reco(book_name):
    book_id=np.where(book_pivot.index==book_name)[0][0]
    distances,suggestions=model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1))
    
    
    
    for i in range(len(suggestions)):
        if i==0:
            print("the suggestions for book that similar with ",book_name,"are : ")
        if not i:
            print(book_pivot.index[suggestions[i]])

In [227]:
reco('Animal Farm')

the suggestions for book that similar with  Animal Farm are :
Index(['Animal Farm', 'Exclusive', 'Jacob Have I Loved', 'Second Nature',
       'Pleading Guilty'],
      dtype='object', name='title')

In [230]:
#Conclusion
#1. why it reshaped into (1,-1)
#2.